{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'css/styleapp.css' %}">
</head>

<body>
    <center>
        <p class="titulo-rotas">Olá, Seja bem vindo aos Produtos</p>
        <table class="tabela-produtos">
            <caption class="titulo-tabela">Produtos</caption>
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td><a class="produto-link" href="{% url 'produto' produto.id %}" class="">{{produto.nome}}</a></td>
                    <td>{{produto.preco}}</td>
                    <td>{{produto.estoque}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>

</html>