{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{produto.nome}}</title>
    <link rel="stylesheet" href="{% static 'css/styleapp.css' %}">
</head>

<body>
    <p class="titulo-rotas">Você está em produto {{produto.nome}}</p>
    <table class="tabela-produtos">
        <caption class="titulo-tabela">Produto</caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a class="produto-link" href="{% url 'index' %}" class="">{{produto.nome}}</a></td>
                <td>{{produto.preco}}</td>
                <td>{{produto.estoque}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>