body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #EEEEEE;
}

p.titulo-rotas {
    font-size: 2rem;
    color: #EEEEEE;
    background-color: #548CA8;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

table.tabela-produtos {
    text-align: left;
    background-color: #185ADB;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

caption.titulo-tabela {
    background-color: #185ADB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
    border-bottom: 1px solid #d3d3d3;
}

li.lista-pagina > a.produto {
    text-align: inherit;
    color: #548CA8;
    font-weight: 300;
    text-decoration: none;
}

li.lista-pagina > a.produto:hover {
    color: #185ADB;
    font-weight: 600;
    text-decoration: underline;
}

a.produto-link {
    color: #fff;
    text-decoration: none;
}

a.produto-link:hover {
    text-decoration: underline;
}